# ansible.cfg — do uzupełnienia w F2.
# Utworzony teraz jako placeholder, ponieważ ansible-playbook w F0 go oczekuje.
[defaults]
host_key_checking = False
inventory = clusters/example-cluster/inventory.yml
roles_path = roles
stdout_callback = default
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
