GALERA_BACKUP_ENCRYPTION_KEY="{{ galera_backup_encryption_key }}"
{% if backup.destination == 's3' %}
GALERA_BACKUP_S3_ACCESS_KEY="{{ galera_backup_s3_access_key }}"
GALERA_BACKUP_S3_SECRET_KEY="{{ galera_backup_s3_secret_key }}"
{% elif backup.destination == 'smb' %}
GALERA_BACKUP_SMB_USERNAME="{{ galera_backup_smb_username }}"
GALERA_BACKUP_SMB_PASSWORD="{{ galera_backup_smb_password }}"
{% if galera_backup_smb_domain is defined and galera_backup_smb_domain %}
GALERA_BACKUP_SMB_DOMAIN="{{ galera_backup_smb_domain }}"
{% endif %}
{% endif %}
